.box {
    background-color: royalblue;
    background-image: linear-gradient(to bottom right, violet, lavender);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.text{
    color: white;
    font-size: 24px;
    /*font-weight: bold;*/
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 45%;
    left: 45%;
    text-align: center;
}
